@import './../../../style/mixins.scss';

.followingCounter {
    display: flex;

    a {
        align-self: center;
        margin: 0 12px;
    }
}

.number {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black
}

.title {
    font-weight: 500;
    color: #c9cad1;
}
