@font-face {
    font-family: 'Saudagar';
    src: url('fonts/Saudagar/Saudagar.eot') format("eot"),
         url('fonts/Saudagar/Saudagar.otf') format('opentype'),
         url('fonts/Saudagar/Saudagar.svg') format('svg'),
         url('fonts/Saudagar/Saudagar.ttf') format('truetype'),
         url('fonts/Saudagar/Saudagar.woff') format('woff');
}

@font-face {
    font-family: 'Sukhumvit Set';
    font-weight: 100;
    src: url('fonts/SukhumvitSet-Thin/SukhumvitSet-Thin.eot') format("eot"),
         url('fonts/SukhumvitSet-Thin/SukhumvitSet-Thin.otf') format('opentype'),
         url('fonts/SukhumvitSet-Thin/SukhumvitSet-Thin.svg') format('svg'),
         url('fonts/SukhumvitSet-Thin/SukhumvitSet-Thin.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Thin/SukhumvitSet-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    src: url('fonts/SukhumvitSet-Light/SukhumvitSet-Light.eot') format("eot"),
         url('fonts/SukhumvitSet-Light/SukhumvitSet-Light.otf') format('opentype'),
         url('fonts/SukhumvitSet-Light/SukhumvitSet-Light.svg') format('svg'),
         url('fonts/SukhumvitSet-Light/SukhumvitSet-Light.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Light/SukhumvitSet-Light.woff') format('woff');
}

@font-face {
    font-family: 'Sukhumvit Set';
    font-weight: 400;
    src: url('fonts/SukhumvitSet-Text/SukhumvitSet-Text.eot') format("eot"),
         url('fonts/SukhumvitSet-Text/SukhumvitSet-Text.otf') format('opentype'),
         url('fonts/SukhumvitSet-Text/SukhumvitSet-Text.svg') format('svg'),
         url('fonts/SukhumvitSet-Text/SukhumvitSet-Text.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Text/SukhumvitSet-Text.woff') format('woff');
}

@font-face {
    font-family: 'Sukhumvit Set';
    font-weight: 500;
    src: url('fonts/SukhumvitSet-Medium/SukhumvitSet-Medium.eot') format("eot"),
         url('fonts/SukhumvitSet-Medium/SukhumvitSet-Medium.otf') format('opentype'),
         url('fonts/SukhumvitSet-Medium/SukhumvitSet-Medium.svg') format('svg'),
         url('fonts/SukhumvitSet-Medium/SukhumvitSet-Medium.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Medium/SukhumvitSet-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Sukhumvit Set';
    font-weight: 600;
    src: url('fonts/SukhumvitSet-SemiBold/SukhumvitSet-SemiBold.eot') format("eot"),
         url('fonts/SukhumvitSet-SemiBold/SukhumvitSet-SemiBold.otf') format('opentype'),
         url('fonts/SukhumvitSet-SemiBold/SukhumvitSet-SemiBold.svg') format('svg'),
         url('fonts/SukhumvitSet-SemiBold/SukhumvitSet-SemiBold.ttf') format('truetype'),
         url('fonts/SukhumvitSet-SemiBold/SukhumvitSet-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Sukhumvit Set';
    font-weight: 700;
    src: url('fonts/SukhumvitSet-Bold/SukhumvitSet-Bold.eot') format("eot"),
         url('fonts/SukhumvitSet-Bold/SukhumvitSet-Bold.otf') format('opentype'),
         url('fonts/SukhumvitSet-Bold/SukhumvitSet-Bold.svg') format('svg'),
         url('fonts/SukhumvitSet-Bold/SukhumvitSet-Bold.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Bold/SukhumvitSet-Bold.woff') format('woff');
}
