@import './../../style/mixins.scss';

.storiesWrapper {
    position: relative;
}

.storiesList {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: fit-content;
}

.leftGradient {
    display: none;
    position: absolute;
    height: 100%;
    width: 151px;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

.rightGradient {
    position: absolute;
    height: 100%;
    width: 151px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    right: 0;
}
