@import './../../style/mixins.scss';

.profilePost {
    width: 33%;
    overflow: hidden;
    position: relative;
    margin: 0 2px 2px 0;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        width: 100%;
        position: absolute;
        left: 0;
    }
}
