//colors
$black: #010101;
$darkGrey: #808080;
$gray: #C9CAD1;
$lightGray: #FAFBFC;
$white: #FFFFFF;
$blue: #0087FF;
$red: #FB766E;
$blueGradient: linear-gradient(45deg, #74EDF2 0%, #5156E6 100%);
$backgroundColor: #E5E5E5;
