@import './../../style/mixins.scss';

.story {
    background-color: $blueGradient;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-right: 24px;
    overflow: hidden;

    img {
        width: 100%;

    }
}

.unwathced {
    background: $blueGradient;

    img {
        width: 56px;
        height: 56px;
        border: 2px solid $white;
        border-radius: 12px;
        margin: 2px;
    }
}
